<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.gis.dldsj.server.mapper.LogMapper">
    <resultMap id="BaseResultMap" type="edu.zju.gis.dldsj.server.entity.Log">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ACTID" jdbcType="VARCHAR" property="actId"/>
        <result column="ROLE" jdbcType="VARCHAR" property="role"/>
        <result column="TIME" jdbcType="TIMESTAMP" property="time"/>
        <result column="TABLENAME" jdbcType="VARCHAR" property="tableName"/>
        <result column="OBJECTID" jdbcType="VARCHAR" property="objectId"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, ACTID, ROLE, TIME, TABLENAME, OBJECTID, TYPE
    </sql>
    <sql id="TABLE_NAME">
        tb_log
    </sql>
    <insert id="insert" parameterType="edu.zju.gis.dldsj.server.entity.Log">
        insert into <include refid="TABLE_NAME"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            ACTID,
            ROLE,
            TIME,
            TABLENAME,
            OBJECTID,
            TYPE,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR},
            #{actId,jdbcType=VARCHAR},
            #{role,jdbcType=VARCHAR},
            #{time,jdbcType=TIMESTAMP},
            #{tableName,jdbcType=VARCHAR},
            #{objectId,jdbcType=VARCHAR},
            #{type,jdbcType=VARCHAR},
        </trim>
    </insert>
    <delete id="deleteBeforeTime">
        delete from <include refid="TABLE_NAME"/>
        where TIME <![CDATA[ <= ]]> #{time,jdbcType=TIMESTAMP}
    </delete>
    <select id="allSelect" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from <include refid="TABLE_NAME"/>
    </select>
    <select id="selectByActid" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List"/>
        from <include refid="TABLE_NAME"/>
        where ACTID = #{actId,jdbcType=VARCHAR}
    </select>
    <select id="selectByTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from <include refid="TABLE_NAME"/>
        where TIME <![CDATA[ >= ]]> #{arg0,jdbcType=TIMESTAMP}
        and TIME <![CDATA[ <= ]]> #{arg1,jdbcType=TIMESTAMP}
    </select>
</mapper>
