<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.zju.gis.dldsj.server.mapper.MapServiceMapper">
    <sql id="Base_Column_List">
        ID, NAME, COMPANY, REGION, SERVER, LIMITED, PICTURE, DESCRIPTION, URL
    </sql>

    <sql id="TABLE_NAME">
        tb_map_servers
    </sql>

    <!-- CRUD -->
    <insert id="insert" parameterType="edu.zju.gis.dldsj.server.entity.MapService">
        insert into <include refid="TABLE_NAME"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            NAME,
            COMPANY,
            REGION,
            SERVER,
            LIMITED,
            PICTURE,
            DESCRIPTION,
            URL
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{id, jdbcType=VARCHAR},
            #{NAME, jdbcType=VARCHAR},
            #{COMPANY, jdbcType=VARCHAR},
            #{REGION, jdbcType=VARCHAR},
            #{SERVER, jdbcType=VARCHAR},
            #{LIMITED, jdbcType=VARCHAR},
            #{PICTURE, jdbcType=VARCHAR},
            #{DESCRIPTION, jdbcType=VARCHAR},
            #{URL, jdbcType=VARCHAR},
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from <include refid="TABLE_NAME"/>
        where ID = #{id, jdbcType=VARCHAR}
    </delete>
    
    <update id="updateByPrimaryKey" parameterType="edu.zju.gis.dldsj.server.entity.MapService">
        update <include refid="TABLE_NAME"/>
        <set>
            <if test="NAME != null">NAME = #{NAME, jdbcType=VARCHAR},</if>
            <if test="COMPANY != null">COMPANY = #{COMPANY, jdbcType=VARCHAR},</if>
            <if test="REGION != null">REGION = #{REGION, jdbcType=VARCHAR},</if>
            <if test="SERVER != null">SERVER = #{SERVER, jdbcType=VARCHAR},</if>
            <if test="LIMITED != null">LIMITED = #{LIMITED, jdbcType=VARCHAR},</if>
            <if test="PICTURE != null">PICTURE =  #{PICTURE, jdbcType=VARCHAR},</if>
            <if test="DESCRIPTION != null">DESCRIPTION = #{DESCRIPTION, jdbcType=VARCHAR},</if>
            <if test="URL != null">URL = #{URL, jdbcType=VARCHAR},</if>
        </set>
        where ID = #{id, jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="edu.zju.gis.dldsj.server.entity.MapService">
        select <include refid="Base_Column_List"/>
        from <include refid="TABLE_NAME"/>
        where ID = #{id, jdbcType=VARCHAR}
    </select>
    <select id="batchSelect" parameterType="java.util.List" resultType="edu.zju.gis.dldsj.server.entity.MapService">
        select <include refid="Base_Column_List"/>
        from <include refid="TABLE_NAME"/>
        where ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </select>
    <select id="allSelect" parameterType="java.lang.String" resultType="edu.zju.gis.dldsj.server.entity.MapService">
        select <include refid="Base_Column_List"/>
        from <include refid="TABLE_NAME"/>
    </select>
    <select id="selectFuzzyName" parameterType="java.lang.String" resultType="edu.zju.gis.dldsj.server.entity.MapService">
        select
        <include refid="Base_Column_List"/>
        from <include refid="TABLE_NAME"/>
        where NAME like #{key,jdbcType=VARCHAR}
    </select>
    <!-- CRUD end -->


</mapper>