<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件编写mybatis中的mapper接口里面的方法，提供对应的sql语句 -->
<!--
/**
 * @author Jinghaoyu
 * @version 1.0 2020/08/20
 *
 * 轮播图
 */
-->
<mapper namespace="edu.zju.gis.dldsj.server.mapper.RotationFigureMapper">

    <!-- 查询所有数据 -->
    <select id="findAl" resultType="edu.zju.gis.dldsj.server.entity.RotationFigure">
		SELECT
		ID,IMG_PATH,PAGE_PATH,SAVE_TIME,PAGE_TYPE
		FROM
		rotation_figure2
	</select>

<!--    &lt;!&ndash; 添加 &ndash;&gt;-->
<!--    <insert id="save" parameterType="edu.zju.gis.dldsj.server.entity.RotationFigure">-->
<!--		INSERT INTO rotation_figure2-->
<!--		(IMG_PATH,PAGE_PATH,PAGE_TYPE)-->
<!--		VALUES-->
<!--		(#{IMG_PATH},#{PAGE_PATH},#{PAGE_TYPE})-->
<!--	</insert>-->

<!--    &lt;!&ndash; 根据id查询对象 &ndash;&gt;-->
<!--    <select id="findById" parameterType="int" resultType="edu.zju.gis.dldsj.server.entity.RotationFigure">-->
<!--		SELECT-->
<!--		ID,IMG_PATH,PAGE_PATH,SAVE_TIME,PAGE_TYPE-->
<!--		FROM-->
<!--		rotation_figure2-->
<!--		WHERE-->
<!--		id = #{value}-->
<!--	</select>-->

<!--    &lt;!&ndash; 根据id修改对象 &ndash;&gt;-->
<!--    <update id="update" parameterType="edu.zju.gis.dldsj.server.entity.RotationFigure">-->
<!--		UPDATE-->
<!--		rotation_figure2-->
<!--		SET-->
<!--		IMG_PATH = #{IMG_PATH},-->
<!--		PAGE_PATH = #{PAGE_PATH},-->
<!--		PAGE_TYPE = #{PAGE_TYPE}-->
<!--		WHERE-->
<!--		id = #{ID}-->
<!--	</update>-->

<!--    &lt;!&ndash; 删除对象 &ndash;&gt;-->
<!--    <delete id="delete" parameterType="Integer[]">-->
<!--        DELETE FROM-->
<!--        rotation_figure2-->
<!--        <where>-->
<!--            ID-->
<!--            <foreach collection="array" item="id" open="in (" close=")" separator=",">-->
<!--                #{ID}-->
<!--            </foreach>-->
<!--        </where>-->
<!--    </delete>-->

<!--    &lt;!&ndash; 根据用户名与密码查询对象 &ndash;&gt;-->
<!--    <select id="Login" resultType="edu.zju.gis.dldsj.server.entity.RotationFigure">-->
<!--		SELECT-->
<!--		ID,username,password,gender,telephone,address,email-->
<!--		FROM-->
<!--		rotation_figure-->
<!--		WHERE-->
<!--		username=#{username} and password=#{password}-->
<!--	</select>-->

</mapper>