<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.gis.dldsj.server.mapper.TaskRecordMapper">
    <resultMap id="BaseResultMap" type="edu.zju.gis.dldsj.server.entity.TaskRecord">
        <id column="APPLICATION_ID" jdbcType="VARCHAR" property="applicationId"/>
        <result column="TOOL_ID" jdbcType="VARCHAR" property="toolId"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="SUBMIT_TIME" jdbcType="VARCHAR" property="submitTime"/>
        <result column="FINISH_TIME" jdbcType="VARCHAR" property="finishTime"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="RESULT_ADDRESS" jdbcType="VARCHAR" property="resultAddress"/>
        <result column="REMARKS" jdbcType="VARCHAR" property="remarks"/>
        <result column="OUTPUT_TYPE" jdbcType="VARCHAR" property="outputType"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="edu.zju.gis.dldsj.server.entity.TaskRecord">
        <result column="PARAMS" jdbcType="LONGVARCHAR" property="params"/>
    </resultMap>
    <sql id="Base_Column_List">
        APPLICATION_ID, TOOL_ID, CREATE_USER, SUBMIT_TIME, FINISH_TIME, STATE, RESULT_ADDRESS,
        REMARKS, OUTPUT_TYPE
    </sql>
    <sql id="Blob_Column_List">
        PARAMS
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from mr_task_record
        where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from mr_task_record
        where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="edu.zju.gis.dldsj.server.entity.TaskRecord">
        insert into mr_task_record (APPLICATION_ID, TOOL_ID, CREATE_USER,
        SUBMIT_TIME, FINISH_TIME, STATE,
        RESULT_ADDRESS, REMARKS, OUTPUT_TYPE,
        PARAMS)
        values (#{applicationId,jdbcType=VARCHAR}, #{toolId,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
        #{submitTime,jdbcType=VARCHAR}, #{finishTime,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
        #{resultAddress,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{outputType,jdbcType=VARCHAR},
        #{params,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="edu.zju.gis.dldsj.server.entity.TaskRecord">
        insert into mr_task_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applicationId != null">
                APPLICATION_ID,
            </if>
            <if test="toolId != null">
                TOOL_ID,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
            <if test="submitTime != null">
                SUBMIT_TIME,
            </if>
            <if test="finishTime != null">
                FINISH_TIME,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="resultAddress != null">
                RESULT_ADDRESS,
            </if>
            <if test="remarks != null">
                REMARKS,
            </if>
            <if test="outputType != null">
                OUTPUT_TYPE,
            </if>
            <if test="params != null">
                PARAMS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applicationId != null">
                #{applicationId,jdbcType=VARCHAR},
            </if>
            <if test="toolId != null">
                #{toolId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="submitTime != null">
                #{submitTime,jdbcType=VARCHAR},
            </if>
            <if test="finishTime != null">
                #{finishTime,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="resultAddress != null">
                #{resultAddress,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="outputType != null">
                #{outputType,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                #{params,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="edu.zju.gis.dldsj.server.entity.TaskRecord">
        update mr_task_record
        <set>
            <if test="toolId != null">
                TOOL_ID = #{toolId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                CREATE_USER = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="submitTime != null">
                SUBMIT_TIME = #{submitTime,jdbcType=VARCHAR},
            </if>
            <if test="finishTime != null">
                FINISH_TIME = #{finishTime,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                STATE = #{state,jdbcType=VARCHAR},
            </if>
            <if test="resultAddress != null">
                RESULT_ADDRESS = #{resultAddress,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                REMARKS = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="outputType != null">
                OUTPUT_TYPE = #{outputType,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                PARAMS = #{params,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.zju.gis.dldsj.server.entity.TaskRecord">
        update mr_task_record
        set TOOL_ID = #{toolId,jdbcType=VARCHAR},
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
        SUBMIT_TIME = #{submitTime,jdbcType=VARCHAR},
        FINISH_TIME = #{finishTime,jdbcType=VARCHAR},
        STATE = #{state,jdbcType=VARCHAR},
        RESULT_ADDRESS = #{resultAddress,jdbcType=VARCHAR},
        REMARKS = #{remarks,jdbcType=VARCHAR},
        OUTPUT_TYPE = #{outputType,jdbcType=VARCHAR},
        PARAMS = #{params,jdbcType=LONGVARCHAR}
        where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.zju.gis.dldsj.server.entity.TaskRecord">
        update mr_task_record
        set TOOL_ID = #{toolId,jdbcType=VARCHAR},
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
        SUBMIT_TIME = #{submitTime,jdbcType=VARCHAR},
        FINISH_TIME = #{finishTime,jdbcType=VARCHAR},
        STATE = #{state,jdbcType=VARCHAR},
        RESULT_ADDRESS = #{resultAddress,jdbcType=VARCHAR},
        REMARKS = #{remarks,jdbcType=VARCHAR},
        OUTPUT_TYPE = #{outputType,jdbcType=VARCHAR}
        where APPLICATION_ID = #{applicationId,jdbcType=VARCHAR}
    </update>

    <select id="selectByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from mr_task_record
        limit #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
    </select>
    <select id="selectByCreateUser" parameterType="string" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from mr_task_record
        where CREATE_USER = #{user,jdbcType=VARCHAR} ORDER BY SUBMIT_TIME DESC
    </select>
    <select id="selectByCreateUserWithState" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from mr_task_record
        where CREATE_USER = #{user,jdbcType=VARCHAR} and STATE = #{state,jdbcType=VARCHAR} ORDER BY SUBMIT_TIME DESC
    </select>
    <select id="selectByCreateUserWithOutState" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from mr_task_record
        where CREATE_USER = #{user,jdbcType=VARCHAR} and STATE != #{state,jdbcType=VARCHAR}
    </select>
</mapper>