<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.gis.dldsj.server.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="edu.zju.gis.dldsj.server.entity.User">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="ROLE" jdbcType="VARCHAR" property="role"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, NAME, PASSWORD, PHONE, EMAIL, ROLE
    </sql>
    <insert id="insert" parameterType="edu.zju.gis.dldsj.server.entity.User">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            NAME,
            PASSWORD,
            ROLE,
            <if test="phone != null">
                PHONE,
            </if>
            <if test="email != null">
                EMAIL
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{role,jdbcType=VARCHAR},
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tb_user
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByName" parameterType="java.lang.String">
        delete
        from tb_user
        where NAME = #{name,jdbcType=VARCHAR}
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where NAME = #{name,jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKey" parameterType="edu.zju.gis.dldsj.server.entity.User">
        update tb_user
        <set>
            <if test="name!= null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                ROLE = #{role,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>