<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.gis.dldsj.server.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="edu.zju.gis.dldsj.server.entity.User">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="ROLE" jdbcType="VARCHAR" property="role"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, NAME, PASSWORD, PHONE, EMAIL, ROLE
    </sql>
    <insert id="insert" parameterType="edu.zju.gis.dldsj.server.entity.User">
        insert into tb_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            NAME,
            PASSWORD,
            ROLE,
            <if test="phone != null">
                PHONE,
            </if>
            <if test="email != null">
                EMAIL
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{role,jdbcType=VARCHAR},
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tb_user
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByName" parameterType="java.lang.String">
        delete
        from tb_user
        where NAME = #{name,jdbcType=VARCHAR}
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where NAME = #{name,jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKey" parameterType="edu.zju.gis.dldsj.server.entity.User">
        update tb_user
        <set>
            <if test="name!= null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                ROLE = #{role,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
<!--    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from sys_user-->
<!--        where ID = #{id,jdbcType=VARCHAR}-->
<!--    </select>-->
<!--    <select id="selectByPage" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from sys_user-->
<!--        limit #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}-->
<!--    </select>-->
<!--    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from sys_user-->
<!--        where NAME = #{name,jdbcType=VARCHAR}-->
<!--    </select>-->
<!--    <select id="selectByRoleId" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from sys_user-->
<!--        where ROLE_ID=#{roleId,jdbcType=VARCHAR} limit #{offset,jdbcType=INTEGER},#{size,jdbcType=INTEGER}-->
<!--    </select>-->
<!--    <delete id="deleteByRoleId" parameterType="string">-->
<!--        delete-->
<!--        from sys_user-->
<!--        where ROLE_ID = #{roleId,jdbcType=VARCHAR}-->
<!--    </delete>-->
<!--    <insert id="insertSelective" parameterType="edu.zju.gis.dldsj.server.entity.User">-->
<!--        insert into tb_user-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="id != null">-->
<!--                ID,-->
<!--            </if>-->
<!--            <if test="name != null">-->
<!--                NAME,-->
<!--            </if>-->
<!--            <if test="password != null">-->
<!--                PASSWORD,-->
<!--            </if>-->
<!--            <if test="role != null">-->
<!--                ROLE,-->
<!--            </if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="id != null">-->
<!--                #{id,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="name != null">-->
<!--                #{name,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="password != null">-->
<!--                #{password,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="role != null">-->
<!--                #{role,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--        </trim>-->
<!--    </insert>-->
<!--    <update id="updateByPrimaryKeySelective" parameterType="edu.zju.gis.dldsj.server.entity.User">-->
<!--        update sys_user-->
<!--        <set>-->
<!--            <if test="roleId != null">-->
<!--                ROLE_ID = #{roleId,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="name != null">-->
<!--                NAME = #{name,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="fullName != null">-->
<!--                FULL_NAME = #{fullName,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="password != null">-->
<!--                PASSWORD = #{password,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="psdPrompt != null">-->
<!--                PSD_PROMPT = #{psdPrompt,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="sex != null">-->
<!--                SEX = #{sex,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="description != null">-->
<!--                DESCRIPTION = #{description,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="registrationTime != null">-->
<!--                REGISTRATION_TIME = #{registrationTime,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="phone != null">-->
<!--                PHONE = #{phone,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="email != null">-->
<!--                EMAIL = #{email,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="organization != null">-->
<!--                ORGANIZATION = #{organization,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="department != null">-->
<!--                DEPARTMENT = #{department,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="status != null">-->
<!--                STATUS = #{status,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="privateDir != null">-->
<!--                PRIVATE_DIR = #{privateDir,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="dirSize != null">-->
<!--                DIR_SIZE = #{dirSize,jdbcType=INTEGER},-->
<!--            </if>-->
<!--            <if test="avatarPath != null">-->
<!--                AVATAR_PATH = #{avatarPath,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="dirUsedSize != null">-->
<!--                DIR_USED_SIZE = #{dirUsedSize,jdbcType=INTEGER},-->
<!--            </if>-->
<!--        </set>-->
<!--        where ID = #{id,jdbcType=VARCHAR}-->
<!--    </update>-->
<!--    <update id="updateByPrimaryKey" parameterType="edu.zju.gis.dldsj.server.entity.User">-->
<!--        update sys_user-->
<!--        set ROLE_ID           = #{roleId,jdbcType=VARCHAR},-->
<!--            NAME              = #{name,jdbcType=VARCHAR},-->
<!--            FULL_NAME         = #{fullName,jdbcType=VARCHAR},-->
<!--            PASSWORD          = #{password,jdbcType=VARCHAR},-->
<!--            PSD_PROMPT        = #{psdPrompt,jdbcType=VARCHAR},-->
<!--            SEX               = #{sex,jdbcType=VARCHAR},-->
<!--            DESCRIPTION       = #{description,jdbcType=VARCHAR},-->
<!--            REGISTRATION_TIME = #{registrationTime,jdbcType=TIMESTAMP},-->
<!--            PHONE             = #{phone,jdbcType=VARCHAR},-->
<!--            EMAIL             = #{email,jdbcType=VARCHAR},-->
<!--            ORGANIZATION      = #{organization,jdbcType=VARCHAR},-->
<!--            DEPARTMENT        = #{department,jdbcType=VARCHAR},-->
<!--            STATUS            = #{status,jdbcType=VARCHAR},-->
<!--            PRIVATE_DIR       = #{privateDir,jdbcType=VARCHAR},-->
<!--            DIR_SIZE          = #{dirSize,jdbcType=INTEGER},-->
<!--            AVATAR_PATH       = #{avatarPath,jdbcType=VARCHAR},-->
<!--            DIR_USED_SIZE          = #{dirUsedSize,jdbcType=INTEGER},-->
<!--        where ID = #{id,jdbcType=VARCHAR}-->
<!--    </update>-->
<!--    <select id="ifUserNameExist" parameterType="string" resultType="int">-->
<!--      select count(*) from sys_user where NAME = #{NAME,jdbcType=VARCHAR}-->
<!--    </select>-->
</mapper>