<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zju.gis.dldsj.server.mapper.pg.TileMapper">
    <select id="getTile" resultType="edu.zju.gis.dldsj.server.entity.MvtTile">
    SELECT
	    ST_AsMVT(tile, ${layerName}, 4096, 'geoms') img
    FROM
	    (SELECT ST_AsMVTGeom(${geomName}, ST_MakeEnvelope(#{lonMin, jdbcType=DOUBLE}, #{latMin, jdbcType=DOUBLE}, #{lonMax, jdbcType=DOUBLE}, #{latMax, jdbcType=DOUBLE}, 4326)) AS geoms
	    FROM public.${tableName}
	    WHERE st_intersects(${geomName}, ST_MakeEnvelope(#{lonMin, jdbcType=DOUBLE}, #{latMin, jdbcType=DOUBLE}, #{lonMax, jdbcType=DOUBLE}, #{latMax, jdbcType=DOUBLE}, 4326))) AS tile;
    </select>

    <select id="getOneWkt" resultType="java.lang.String">
        SELECT ST_AsText(${geomName}) as wkt
        FROM public.${tableName}
        WHERE ${geomName} IS NOT NULL
        LIMIT 1
    </select>
</mapper>