server:
  port: 13000
  tomcat:
    uri-encoding: UTF-8
  servlet:
    context-path: /summer/


spring:
  application:
    name: ${application-info.name}
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://10.79.231.81:3306/eduPlatform?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
#    username: root
#    password: 123456
    url: jdbc:mysql://localhost:3306/group2?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
    username: root
    password: mysql
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  mvc:
    static-path-pattern: static/**
  resources:
    static-locations:
      - file://${settings.picPath}
      - classpath:/static

settings:
  parallelFilePath: /opt/3S/upload
  templatePath: ${settings.parallelFilePath}/template
  jarPath: ${settings.parallelFilePath}/jar
  xmlPath: ${settings.parallelFilePath}/xml
  picPath: ${settings.parallelFilePath}/pic
  geoDataPath: /gis/3S/geoData
  frontEndRegionList:
    - http://localhost:8082
    - http://10.79.231.81:8082
    - http://td1:8082
  sessionMaxAge: 36000
  mapfileSavepath: opt/3S/map
  userSpaceRootPath: /3S/userSpace/
  nameNode: 10.79.231.81
  username: root
  password: 0922jtbr
  javaHome: /opt/tool/jdk8
  hadoopHome: /home/tool/hadoop
  sparkHome: /home/tool/spark
  jobMonitor: http://${settings.nameNode}:8088/ws/v1/cluster/apps
  monitorInterval: 2000
  jobFailInterval: 20000
  jobResultPath: /gee
  # unuseful for model subsystem
  metaPath: /opt/dldsj/metadata
  esHost: ubt1
  esPort: 9300
  esName: elasticsearch
  esIndex: dls
  initTaskPoolSize: 3
  maxTaskPoolSize: 20
  keepAliveSeconds: 60
  dagsFolder: /opt/3S/airflow/dags
  rasterToolTempDir: /output/
  topic3ToolTempDir: /home/share/
  calculateDataNameSpace: /calculateData/
  selfDataNameSpace: /selfData/
  systemPublicAccount: SYSTEM_PUBLIC
  airFlowHome: /root/airflow*
#  airFlowHome: /Users/jiarui/airflow
  airFlowDagsPath: ${settings.airFlowHome}/dags
  hdFsUri: hdfs://localhost:9000
#  hdfs: hdfs://192.168.1.5:9000/
  lFsUri: file://
